<div class="row">
  <div class="col-md-12">
    <table class="table table-border table-striped" id="<%= dom_id food %>">
      <tbody>
        <tr>
          <th>Name</th>
          <td><%= food.name %></td>
        </tr>
        <tr>
          <th>Measurement unit</th>
          <td><%= food.measurement_unit %></td>
        </tr>
        <tr>
          <th>Quantity</th>
          <td><%= food.quantity %></td>
        </tr>
        <tr>
          <th>Unit Price</th>
          <td><%= food.price %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

